* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    position:fixed;
    width:100%;
    height:100px;
    top:0;
    padding: 20px;
    text-align: left;
    background-color: #2a607c;
    color: #ffffff;
}

nav{
    position:fixed;
    width:75%;
    top:20px;
    right:0px;
    padding:20px;
    float:right;
    font-size:15px;
    text-align:right;
}

body {
    background-color: #d9dcd6;
}

.header h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header nav ul {
list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 15px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

p {
    font-size: 16px;
    text-align: justify;
}

.float-left {
    float: left;
    margin-right: 25px;
    width:40%;
}

.float-right {
    float: right;
    margin-left: 25px;
    width: 40%;
}

section {
    width: 75%;
    height: 100%;
    display: inline-block;
    margin-right: 1.25%;
    margin-left:1.25%;
    margin-bottom: 100px;
}

aside {
    margin-right: 2.5%;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
    margin-bottom: 100px;
}

.benefit-cost, .benefit-brand, .benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.social-media-marketing h2, .search-engine-optimization h2, .online-reputation-management h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

.benefit-cost img, .benefit-brand img, .benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.social-media-marketing, .online-reputation-management, .search-engine-optimization  {
    margin:20px;
    margin-top:0px;
    padding: 5%;
    height: 350px;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing img, .online-reputation-management img, .search-engine-optimization img  {
    height: 250px;
}

footer {
    position:static;
    bottom:0;
    width:100%;
    height:80px;
    padding: 20px;
    text-align:center;
    clear:both;
    background-color: #2a607c;
}

.footer h4, .footer p {
    font-size: 20px;
    text-align:center;
}

.footer p {
    text-align:center;
}